body {
  background-color: #94b4a4;
  color: #273930;
  margin: 40px;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

input[type=text] {
  background-color: #d2f5e3;
  color: #273930;
  width: 400px;
  padding: 16px 20px;
  margin-bottom: 30px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  background-color:#e5c5b5;
  color: #273930;
  font-size: 16px;
  width: 200px;
  padding: 10px 20px;
  margin-bottom: 60px;
  border: 1px solid #27393058;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

button:hover {
  background-color:#273930;
  color: #e5c5b5;
}

.todo-list {
  width: 400px;
  min-height: 600px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #27393048;
  background-color: #d2f5e3;
  padding: 20px;
  margin-bottom: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.todo-list h2 {
  text-align: center;
  padding-bottom: 10px;
}

input[type=checkbox] {
  margin-bottom: 20px;
}

.todo-list ul {
  list-style: none;
}